<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>KodnestBanking</display-name>
	<servlet>
		<description>
		</description>
		<display-name>LoginValidation</display-name>
		<servlet-name>LoginValidation</servlet-name>
		<servlet-class>LoginValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegValidation</display-name>
		<servlet-name>RegValidation</servlet-name>
		<servlet-class>RegValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Registration</display-name>
		<servlet-name>Registration</servlet-name>
		<servlet-class>Registration</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewBalance</display-name>
		<servlet-name>ViewBalance</servlet-name>
		<servlet-class>ViewBalance</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePwd</display-name>
		<servlet-name>ChangePwd</servlet-name>
		<servlet-class>ChangePwd</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePwdServlet</display-name>
		<servlet-name>ChangePwdServlet</servlet-name>
		<servlet-class>ChangePwdServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PwdValid</display-name>
		<servlet-name>PwdValid</servlet-name>
		<servlet-class>PwdValid</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TransferValidation</display-name>
		<servlet-name>TransferValidation</servlet-name>
		<servlet-class>TransferValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TransferServlet</display-name>
		<servlet-name>TransferServlet</servlet-name>
		<servlet-class>TransferServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangeNameValidation</display-name>
		<servlet-name>ChangeNameValidation</servlet-name>
		<servlet-class>ChangeNameValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangeNameServlet</display-name>
		<servlet-name>ChangeNameServlet</servlet-name>
		<servlet-class>ChangeNameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginValidation</servlet-name>
		<url-pattern>/LoginValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegValidation</servlet-name>
		<url-pattern>/RegValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/Registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewBalance</servlet-name>
		<url-pattern>/ViewBalance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePwd</servlet-name>
		<url-pattern>/ChangePwd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePwdServlet</servlet-name>
		<url-pattern>/ChangePwdServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PwdValid</servlet-name>
		<url-pattern>/PwdValid</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransferValidation</servlet-name>
		<url-pattern>/TransferValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransferServlet</servlet-name>
		<url-pattern>/TransferServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeNameValidation</servlet-name>
		<url-pattern>/ChangeNameValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeNameServlet</servlet-name>
		<url-pattern>/ChangeNameServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
